<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BlazeDemoTest" preserve-order="true">
  <test name="Testing flight booking">
    <classes>
      <class name="com.test.blazeDemo.BlazeDemoHomeTest"/>
      <class name="com.test.blazeDemo.BlazeDemoBookTest"/>
    </classes>
  </test> <!-- Testing flight booking -->
</suite> <!-- BlazeDemoTest -->